.App {
  text-align: center;
  padding: 2rem;
}

.MarginBottom {
  margin-bottom: 2rem;
}

.Intro {
  text-align: start;
}

.MyPaper {
  display: inline-block;
}

a:visited {
  color: #00E;
}

pre {
  margin: 1rem;
  font-family: inherit;
}
